.gallery-container {
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
  margin: 32px auto;
}

.gallery-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
